torch
torchvision
accelerate>=0.26.0
ninja
numpy
pyarrow
altair
vegafusion[embed]>=1.5.0
vl-convert-python>=1.6.0
matplotlib
ipython
ipykernel
setuptools
scikit-learn
scipy
tensorboard
tqdm
packaging
polars
pyyaml
wheel
zarr